#container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 800px;
}

.box {
    background-color: lightblue;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    margin: 0;
}

.column {
    margin: 0;
    padding: 0;
}

.grid {
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
}